<!-- NAV -->
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
<!-- Brand & Toggle grouped for mobile device -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Cable Blade", root_path, class: "navbar-brand" %>
      </div>
<!-- Collect nav links for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li class="active"><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div><!-- navbar-collapse -->
    </div><!-- container-fluid -->
  </nav>
<!-- END NAV -->

<h1>About This Site</h1>
<p>This site was developed by myself to help you figure out if you can "cut the cord" on their pay-for-TV bill, while still being able to enjoy your favorite tv shows.  The average price for a standard tv subscription is ~$70/mo, my goal is to help you save money on your bill.</p>
<h2>About Me</h2>
<p>I originally came up with the idea for this site because I got tired of my sister constantly asking me what she could watch online or how to cut the cable and save money. I run the site by myself, and will make my best attempt at keeping the data current. The only thing I ask is that if you don't already subscribe to one of the recommended services, that you use the advertising links on this site to sign up for those services as the revenue helps pay for the servers and hosting. I also accept & appreciate random paypal donations.</p>
<h3>My Show Isn't On The Site!@#$@#!!@#$!... or something along those lines</h3>
<p>I run the site by myself and make every attempt to find and add every single show out there, but lets face it sometimes I get lazy or tired or simply haven't heard of a show before.  If the site is missing info please let me know by visiting the <%= link_to "Contact page", contact_path %>, and I will get the information up on the site as fast as I can manage(if you have time and can provide me with information such as if it's on hulu or netflix, and the episode purchase price on itunes or amazon it'll get added a lot faster).</p>
