<%= render 'shared/errors', object: @show %>

<%= form_for [:admin, @show], html: { class: 'form-horizontal', role: 'form' } do |f| %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :network_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :network_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :hulu, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :hulu, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :netflix, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :netflix, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :itunes, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :itunes, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :amazon, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :amazon, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
  </div>

<% end %>
