<h1>Shows Admin</h1>

<p>
  <%= link_to "New Show", new_admin_show_path, class: 'btn btn-primary' %>
</p>

<table class="table table-hover table-bordered">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Network</th>
    <th>Hulu</th>
    <th>Netflix</th>
    <th>Itunes</th>
    <th>Amazon</th>
    <th>Created at</th>
  </tr>

  <% for show in @shows %>
    <tr>
      <td><%= link_to show.id, admin_show_path(show) %></td>
      <td><%= link_to show.name, admin_show_path(show) %></td>
      <td><%= show.network.name %></td>
      <td><%= show.hulu %></td>
      <td><%= show.netflix %></td>
      <td><%= show.itunes %></td>
      <td><%= show.amazon %></td>
      <td><%= show.created_at %></td>
    </tr>
  <% end %>
</table>
