<table>
  <tr>
    <th style="text-align: right">ID</th>
    <td style="text-align: left; padding-left: 20px"><%= @show.name %></td>
  </tr>
  <tr>
    <th style="text-align: right">Name</th>
    <td style="text-align: left; padding-left: 20px"><%= image_tag @show.image %></td>
  </tr>
  <tr>
    <th style="text-align: right">Network ID</th>
    <td style="text-align: left; padding-left: 20px"><%= @show.network.name %></td>
  </tr>
  <tr>
    <th style="text-align: right">Hulu</th>
    <td style="text-align: left; padding-left: 20px"><%= image_tag @show.hulu %></td>
  </tr>
  <tr>
    <th style="text-align: right">Netflix</th>
    <td style="text-align: left; padding-left: 20px"><%= @show.netflix %></td>
  </tr>
  <tr>
    <th style="text-align: right">iTunes</th>
    <td style="text-align: left; padding-left: 20px"><%= @show.itunes %></td>
  </tr>
  <tr>
    <th style="text-align: right">Amazon</th>
    <td style="text-align: left; padding-left: 20px"><%= image_tag @show.amazon %></td>
  </tr>
  <tr>
    <th style="text-align: right">Created</th>
    <td style="text-align: left; padding-left: 20px">
      <%= @show.created_at.strftime('%A, %B %e %Y, %l:%M %p %Z') %>
    </td>
  </tr>
</table>

<%= link_to "Edit", edit_admin_show_path(@show), class: 'btn btn-primary' %>
<%= link_to "Delete", admin_show_path(@show), class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this show?" }, method: 'delete' %>